<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup - InkInsight</title>
</head>
<body>
<h2>Sign Up</h2>
<p th:text="${message}"></p>
<form th:action="@{/signup}" method="post" th:object="${user}">
    <label>Email: <input type="email" th:field="*{email}" required></label><br>
    <label>Username: <input type="text" th:field="*{username}" required></label><br>
    <label>Password: <input type="password" th:field="*{password}" required></label><br>
    <button type="submit">Sign Up</button>
</form>
<p>Already have an account? <a th:href="@{/login}">Login</a></p>
</body>
</html>